@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,800&family=Roboto:wght@100;500;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;


}

body {
    background-image: url("../IMG/urban_gym.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #1f2023;
    margin-left: 300px;
    margin-right: 300px;
}

h1 {
    text-align: center;
    color: rgb(80, 80, 80);
    font-size: 60px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    border-top: 10px double #1f2025;
    border-bottom: 10px double #1f2025;
    border-left: 10px double #1f2025;
    border-right: 10px double #1f2025;
    background-image: url("../IMG/fondo-graffiti-mural-creativo-abstracto_23-2149007708.jpg");
}

legend {
    background-image: url("../IMG/fondo-graffiti-mural-creativo-abstracto_23-2149007708.jpg");
    background-color: rgb(236, 13, 13);
    height: 35px;
    width: auto;
    border-radius: 7px;
    border: 3px solid black;
    color: rgb(250, 3, 3);
    display: flex;
    align-items: center;
    margin: auto;
    
}


fieldset {
    background-color: rgba(69, 155, 128, 0.274);
}

p {
    color: antiquewhite;
    font-size: smaller;
    align-self: flex-start;
}

.pwhite {
    color: rgb(248, 244, 244)
}

label{
    color: rgb(252, 252, 252);
    margin-right: auto;
    font-weight: bold;
    font-size: 25px;
    
}
input[type='submit'],
input[type='reset'] {
    background-color: rgba(128, 143, 138, 0.822);
    color: rgb(207, 34, 34);
    margin-top: 20px;
    margin: auto;
    width: 200px;
    height: 80px;
    border-radius: 100px;
    font-size: 25px;
    font-weight: bolder;
    
}

input[type='text'],
input[type='email'] {
    margin-top: 20px;
    margin: auto;
    width: 500px;
    height: 25;
    caret-color: white;
    direction: rtl;
}

input[type='text'],
input[type='email'],
textarea {
    caret-color: white;
    direction: rtl;
}

select {
    width: 500px;
    height: 35px;
    color: rgba(0, 0, 0, 0.75);
}

input:focus,
textarea:focus {
    background-color: #ca870a98;
}

.form,
fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

label[for='chck_cond'],
label[for='chck_nov'] {
    color: white;
    font-size: small;

}

.button_group {
    display: flex;
    justify-content: center;
}

.activitis {
    display: flex;
    align-self: flex-start;


}